services:
  backend:
    build: ./backend
    ports:
      - "8020:8020"
    volumes:
      - ./backend/data:/app/data
    restart: always

  frontend:
    build: ./frontend
    ports:
      - "3020:3020"
    restart: always
